@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h class="display-4">Welcome Fellow Guitar Geeks!</h><br />
    <h class="display-5">Indulge Your Geekdom Here...</h>
    <br/>
    <br />
    <img src="Images/ad1.jpg" alt="ad.jpeg" />
</div>

